<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Name"
         providerName="System.Data.ProviderName"
         connectionString="Provider=SQLOLEDB;Data Source=(local);Initial Catalog=ExceptionHandlersFIMS;Integrated Security = SSPI;" />
  </connectionStrings>


</configuration>